/* Set the background color for the entire page */
html, body{
    background: #f5e4ab;
}

/* Style h1 for the header at the top with a background gradient, boxshadow, and aligning it to the center */
/* Also changed the font as well as padding/margins */
h1 {
    background: linear-gradient(#ffffff, #eeeeee, #e7e7e7);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 25px;
    margin: 0;
}

/* Style the "cards", adding it to each element */
/* Used the same linear gradient as the header, as well as the boxshadow and border radius */
/* Changed the width to be smaller than header as well as padding and margins to make them more visually seperated */
/* Changed the font size and line height for better readability*/
.card {
    background: linear-gradient(#ffffff, #eeeeee, #e7e7e7);
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    width: 95%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 1.25rem;
    line-height: 1.6rem;
}